{{> vue/script }}
import Counter from '../components/Counter.vue'
</script>

<template>
  <div class="home">
    <section class="block">
      <h2{{#if (eq @config.cssPreprocessor 'tailwind')}} class="text-green-300"{{/if}}>
        counter:
      </h2>
      <Counter />
    </section>
  </div>
</template>

{{> vue/style }}
.home { padding: 16px 0; }
.block { margin: 12px 0; }
h2 { font-size: 18px; margin-bottom: 8px; }
</style>
