go 1.26

use (
	.
	./etscore
	./shim/api
	./shim/ast
	./shim/astnav
	./shim/bundled
	./shim/checker
	./shim/collections
	./shim/compiler
	./shim/core
	./shim/diagnostics
	./shim/format
	./shim/fourslash
	./shim/ls
	./shim/ls/autoimport
	./shim/ls/change
	./shim/ls/lsconv
	./shim/ls/lsutil
	./shim/lsp
	./shim/lsp/lsproto
	./shim/module
	./shim/modulespecifiers
	./shim/packagejson
	./shim/parser
	./shim/project
	./shim/project/logging
	./shim/repo
	./shim/scanner
	./shim/sourcemap
	./shim/testrunner
	./shim/testutil
	./shim/testutil/baseline
	./shim/testutil/harnessutil
	./shim/testutil/lsptestutil
	./shim/testutil/tsbaseline
	./shim/tsoptions
	./shim/tspath
	./shim/vfs
	./shim/vfs/cachedvfs
	./shim/vfs/iovfs
	./shim/vfs/osvfs
	./shim/vfs/vfstest
	./typescript-go
)
