export default function About() {
  return (
    <div className="about">
      <section className="block">
        <h1>About</h1>
        <p>本项目由 @sayoriqwq/prelude 生成，集成现代化前端工程配置。</p>
      </section>
    </div>
  )
}
