{{#if (eq @config.router 'react-router')}}
import { NavLink, Outlet } from 'react-router-dom'
{{else if (eq @config.router 'tanstack-router')}}
import { Link, Outlet } from '@tanstack/react-router'
{{else}}
import Home from './home'
{{/if}}

export default function App() {
  return (
    <div id="app">
      <main className="container">
{{#if (or (eq @config.router 'react-router') (eq @config.router 'tanstack-router'))}}
        {{> react/router-links}}
{{/if}}
        <section className="content">
{{#if (or (eq @config.router 'react-router') (eq @config.router 'tanstack-router'))}}
          <Outlet />
{{else}}
          <Home />
{{/if}}
        </section>
      </main>
    </div>
  )
}
